
html, body, #root {
	height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #e2e2e2;
  color: #111827;
}
.page {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 32px 16px;
  
}

.card {
	width: 400px;
  height: 400px;
	background: #d6cfcf;
	border-radius: 16px;
	box-shadow: 0 10px 25px rgba(0,0,0,0.15);
	padding: 24px;
	border: 1px solid #000000;
}

.card h2 {
	margin: 0 0 12px;
}

.input {
	width: 90%;
	padding: 10px 12px;
	border: 1px solid #5f6061;
	border-radius: 8px;
	margin: 8px 0 12px;
}

.btn {
	width: 100%;
	padding: 10px 12px;
	border-radius: 8px;
	border: none;
	background: #0615ee;
	color: white;
	font-weight: 600;
	cursor: pointer;
}

.btn:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

/* Layout for Home page */
.container {
	max-width: 960px;
	margin: 40px auto;
	padding: 24px;
}

.toolbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.muted {
	color: #666;
	margin-bottom: 16px;
}

.grid {
	display: grid;
	gap: 24px;
}

.grid-2-1 {
	grid-template-columns: 2fr 1fr;
}

.panel {
	background: #cecccc;
	border: 1px solid #141414;
	border-radius: 12px;
	padding: 16px;
}

.panel h3 {
	margin-bottom: 8px;
}

.row {
	display: flex;
	gap: 8px;
}

.input-grow {
	flex: 1;
}

.button {
	padding: 10px 12px;
	border-radius: 8px;
	border: 1px solid #070707;
	background: #f7f2f2;
	color: #111827;
	cursor: pointer;
}

.button-primary {
	background: #014cee;
	border-color: #000000;
	color: white;
}

.link {
	background: none;
	border: none;
	color: #030303;
	cursor: pointer;
	padding: 0;
}

.history-item {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 6px 0;
	border-bottom: 1px dashed #131111;
}

.history-date {
	margin-left: auto;
	font-size: 12px;
	color: #000000;
}

.error {
	color: red;
	margin-bottom: 8px;
}
